*{font-family: 'IBM Plex Sans', sans-serif;}
Body{
  background-color: #303030
}
#TBAtitle{
}
#TBAtitle:hover{
  opacity: 0.8;
}
#papa{
  color: #fff
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
