#Attack img {
  float: left;
  width: 17px;
  height: 17px;
}

#Attack h3 {
  position: relative;
  top: 18px;
  left: 10px;
}

#Defense img {
  float: left;
  width: 17px;
  height: 17px;
}

#Defense h3 {
  position: relative;
  top: 18px;
  left: 10px;
}
