*{font-family: Helvetica;}
Body{
  background-color: #ff7f7f
}
#Title{
 text-align: center
 font-size: 125px;
 padding: 60px;
 margin-top: 60px;
}
#HomeMenu{
  list-style-type: none;
  margin: 0;
  border: .1vw solid coral;
  background-color: ; teal;
  padding: 1.25vw;
  border: .25vw none;
  margin-bottom: 6.2vw;
  position: fixed;
  top: 0;
  border: .1vw solid coral;
  width: 100%;
  right: 0;
  left: 0;
  font-size: 25px;
}
