*{font-family: Helvetica;}
Body{
  background-image: url("https://i.pinimg.com/originals/0e/78/b5/0e78b5d7823530951192791a38789bb3.png");
  background-size: cover;
  background-position: center;
  height: 300px;
}
