*{font-family: Rubik;}
Body{
  background-color: #ff7f7f
}
#Title{
 text-align: center;
 font-size: 150px;
 padding-top: 25px;
 margin-top: 25px;
}
#HomeMenu{
  padding: 1.25vw;
  margin: 0;
  background-color: #00b3b3;
  font-size: 25px;
  color: #dc143c;
  align-items: center;
}
#FormLink{
  color: black;
  text-decoration-line: none;
  
}
